# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
*/**/target
*/**/build

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.devcontainer

# Visual Studio Code
.vscode/*
.history/*

# System files
.DS_Store
Thumbs.db

#other
venv
*/**/venv
tmp
output*
.cipd
.gclient
.gclient_entries
.gclient_previous_sync_commits
v8/v8

#rust
Cargo.lock
